body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #363636;
}

img {
    display: block;
}

header figure {
    background-color: #F8F8FF;
}

header figure img {
    margin: 0 auto;
    display: block;
}

#header-title {
    color: #F8F8FF;
    text-align: center;
    background-color: #DCDCDC;
    padding: 15px 0;
}

#header-title h1 {
    font-size: 2.5em;
    line-height: 1.5em;
}

nav {
    background-color: #5e5e5e;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    padding: 15px 25px;
    margin: 0 10px;
    background-color: #545454;
}

nav ul li a {
    color: #F8F8FF;
    font-weight: bolder;
    text-decoration: none;
}
main article {
    background-color: #F8F8FF;
    box-sizing: border-box;
    padding-bottom: 5px;
}

main article h2 {
    color: #F8F8FF;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    background-color: #ff6600;
    padding: 10px;
}

main article p {
    box-sizing: border-box;
    padding: 20px 30px;
}

#button-de-compra {
    padding: 25px;
    text-align: center;
    line-height: 3em;
    border: 4px inset #ff6600;
}

#button-de-compra h2 {
    font-size: 1.8em;
}

#button-de-compra h5 {
    font-weight: bolder;
    font-size: 0.5em;
}
#button-de-compra button {
    font-size: 1.5em;
    background-color: #ff6600;
    margin: 12px;
}

aside {
    padding: 30px;
    text-align: center;
    line-height: 2em;
    border: 5px inset #ff6600;
    font-size: 1.3em;
}

aside h3 {
    font-weight: bold;
    font-size: 1.3em;
}

aside #submit-button {
    font-size: 1.1em;
    margin-top: 20px;
}

.container {
    max-width: 950px;
    margin: 0 auto;
    background-color: #DCDCDC;
    box-sizing: border-box;
    margin-bottom: 45px;
}

.container img {
    max-width:450px;
    max-height:450px;
    margin: 0 auto;
    border: 5px inset #ff6600;
}

footer {
    color: #ff6600;
    background-color: #545454;
    text-align: center;
    padding: 10px 0;
    font-weight: bolder;
}